/* src/components/Layout/Layout.module.css */
.appContainer {
  /* Симуляція розмірів Telegram Mini App */
  /* max-width: 500px; */
  margin: 0 auto;
  min-height: 100vh;
  background-color: #1a1a2e; /* Темний фон */
  color: #e4e6eb;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.mainContent {
  padding: 1rem;
  padding-top: 60px; /* Місце для хедера */
}