/* === HEADER (верхнє меню) === */
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(18, 0, 37, 0.85);
  backdrop-filter: blur(12px);

  padding: 10px 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  box-shadow: 0 4px 22px rgba(0,0,0,0.35),
              inset 0 -1px 0 rgba(255,255,255,0.08);
}

/* Контейнер навігації */
.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 450px;
}

/* Посилання */
.link, .active {
  font-size: 0.95rem;
  font-weight: 600;
  text-decoration: none;

  padding: 6px 10px;
  border-radius: 10px;

  color: #dce1ff;
  transition: 0.25s ease;
  position: relative;
}

/* Hover — світіння */
.link:hover {
  color: #00eaff;
  text-shadow: 0 0 6px rgba(0,238,255,0.8);
}

/* Активна вкладка */
.active {
  color: #00ffc2;
  text-shadow: 0 0 10px rgba(0,255,194,0.9);
}

/* Підсвітка під активною вкладкою */
.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);

  width: 60%;
  height: 3px;
  border-radius: 999px;

  background: linear-gradient(90deg, #00ffc2, #00eaff);
  box-shadow: 0 0 10px #00ffc2;
}
