/* src/components/Header/Header.module.css */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 500px;
  background-color: #2c004f; /* Темно-фіолетовий */
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.link, .active {
  color: #e4e6eb;
  text-decoration: none;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  transition: color 0.3s;
}

.active {
  color: #00ffc2; /* Яскраво-зелений для активної */
  border-bottom: 2px solid #00ffc2;
}